.each-card{
    width:100%;
    height:60px;
    margin:auto;
    background-color:green;
    padding:10px;
    margin:10px 0px 10px 0px;
    border-radius:10px;
    border:solid green;
    display:grid;
    grid-template-rows: 100%;
    grid-template-columns: 3fr 1fr 1fr;
}
.habit-text{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}
.cal-buttons{
    width:30px;
    height: auto;
    margin:0;
    margin-left:auto;
    padding:0;
    border-radius: 20px;
}